{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block head_title %}MVP Lending{% endblock %}</title>

    {% include 'head_css.html' %}

    <style>
        {% block style %}

        {% endblock %}
    </style>
</head>

<body>

{% include 'navbar.html' %}
{% block jumbotron %}
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <h1>Hi there</h1>

                <p>This is my very firs project constructed with Django and Bootstrap. It hasn't had any specific functionality yet.</p>

                <p>But it will have soon</p>

                <p>
                    <a class="btn btn-lg btn-primary" href="/" role="button">Go to main page</a>
                </p>
            </div>
            <!--<div class="col-sm-6" style="background-color: black; height: 300px">-->
                <!--<iframe width="500" height="300" src="https://www.youtube.com/embed/2uLYO1LUf6Q" frameborder="0" allowfullscreen></iframe>-->
            <!--</div>-->
        </div>
    </div>

</div> <!-- /container -->
{% endblock %}

{% block content %}
{% endblock %}

    {% include 'javascript.html' %}
  </body>
</html>
